python-telegram-bot==12.8
PySocks
    # plugin: telegram
cloudscraper
    # plugin: cfscraper
rarfile
    # plugin: decompress
transmission-rpc<5.0.0
deluge-client
irc-bot
    # plugin: others
flexget
