python-telegram-bot==12.8
cryptography<3.4
PySocks
    # plugin: telegram
cloudscraper
    # plugin: cfscraper
rarfile
    # plugin: decompress
transmission-rpc<4.0
deluge-client
irc-bot
    # plugin: others
flexget
