# https://github.com/Flexget/Flexget/blob/develop/pyproject.toml
python-telegram-bot[http2,socks]~=21.9
cloudscraper
    # plugin: cfscraper
rarfile
    # plugin: decompress
transmission-rpc~=7.0
deluge-client~=1.10
irc-bot
    # plugin: others
flexget
